/*常用公共class*/
/*边框类*/
.border-0{border:0;}
.border-1{border-width:1px;}
.border-2{border-width:2px;}
.border-3{border-width:3px;}
.border-4{border-width:4px;}
.border-solid{border-style:solid;}
.border-dashed{border-style:dashed;}
.border-radius-10{border-radius:10px;}
.border-radius-15{border-radius:15px;}
.border-radius-top-10{border-top-left-radius:10px;border-top-right-radius:10px;}
.border-radius-top-15{border-top-left-radius:15px;border-top-right-radius:15px;}
.border-radius-bottom-10{border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.border-radius-bottom-15{border-bottom-left-radius:15px;border-bottom-right-radius:15px;}
.outline-0{outline:0;}
/*边距*/
.margin-0{margin:0;}
.margin-2{margin:2px;}
.margin-3{margin:3px;}
.margin-5{margin:5px;}
.margin-top-10{margin-top:10px;}
.margin-top-15{margin-top:15px;}
.margin-top-20{margin-top:20px;}
.margin-left-10{margin-left:10px;}
.margin-left-15{margin-left:15px;}
.margin-left-20{margin-left:20px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-20{margin-bottom:20px;}
.padding-0{padding:0;}
.padding-2{padding:2px;}
.padding-3{padding:3px;}
.padding-5{padding:5px;}
/*字体*/
.font-family-microYahei{font-family:"microsoft yahei";}
.font-size-12{font-size:12px;}
.font-size-14{font-size:14px;}
.font-size-15{font-size:15px;}
.font-size-16{font-size:16px;}
.font-size-18{font-size:18px;}
.font-size-20{font-size:20px;}
.color-black{color:black;}
.color-white{color:white;}
.color-gray{color:gray;}
.color-blue{color:blue;}
.color-green{color:green;}
.color-red{color:red;}
.font-bold{font-weight:bold;}
.text-decoration-overline{text-decoration:underline;}
.text-decoration-none{text-decoration:none;}
/*浮动*/
.float-left{float:left;}
.float-right{float:right;}
.clear-float{clear:both;}
.clear-left-float{clear:left;}
.clear-right-float{clear:right;}
/*定位*/
.position-rel{position:relative;}
.position-abs{position:absolute;}
.position-fix{position:fixed;}
.margin-center{margin:0 auto;}
.align-center{text-align:center;}
.align-left{text-align:left;}
.align-right{text-align:left;}
.vertical-align-middle{vertical-align:middle;}
/*块级元素*/
.display-block{display:block;}
.display-none{display:none;}
.display-inline-block{display:inline-block;}
.display-inline{display:inline;}
/*背景*/
.bg-color-white{background:white;}
.bg-color-blue{background:blue;}
.bg-color-gray{background:gray;}
.bg-color-green{background:green;}
/*杂项*/
.width-all{width:100%;}
.cursor-pointer{cursor:pointer;}
.opacity-50{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}
.overflow-hidden{overflow:hidden;}
.overflow-scroll{overflow:scroll;}
.list-none{list-style-type:none;}
.list-type-circle{list-style-type:circle;}
.list-type-square{list-style-type:square;}
